[user]
	name = debboutr
	email = debboutr@gmail.com
[color]
	ui = auto
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = cyan bold
[pull]
	ff = only
[core]
	pager = "bat"
	editor = vim
[alias]
    ls = !sh -c \"git log --oneline -n ${1:-13}\" -
[init]
	defaultBranch = main
