[user]
	name = debboutr
	email = debboutr@gmail.com
[color]
	ui = auto
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = magenta bold
[pull]
	ff = only
[core]
	pager = "bat"
	editor = vim
[alias]
    ls = log --oneline -n 13
